#Iniciando

#las imagenes de las carpetas .png deben ser ignorados.

/deportes/27127.svg
/deportes/deporte1.png
/Logo/ULTIMA HORA.png
/redes sociales/facebook.png
/redes sociales/instagram.png
/redes sociales/whatsapp.png
/redes sociales/youtube.png
/deportes/vidal.jpg
/deportes/rugby.JPG
/deportes/motor.jpg

/entretenimiento/note_audio_music_3097.png
/entretenimiento/entrete1.jpg
/educacion/libro.png
/educacion/educacion1.jpg
/finanzas/finances.png














